.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scroll-container {
  width: 50%;
  height: 70vh;
  border: 1px solid #000;
  overflow-y: scroll;
}

.content-contaienr {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 30px;
  width: 100%;
  border-bottom: 1px solid #000;
}
